input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

h1 {
  font-family: Helvetica;

}

label {
    display: block;
    font-family: Helvetica;
    padding-bottom: 14px;
}
input[type=text], input[type=password] {
  
  padding: 12px 20px;
  margin: auto;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: block;
  font-family: Helvetica;
}
  
    .error {
        margin-top: -15px;
        color: red;
        padding: .5em;
        display: inline-block;
        font-size: .9em;
        margin-bottom: 20px;
        font-family: Helvetica;
    }
  
  
  .cta {
    background: #DC143C;
    border: none;
    color: white;
  
    border-radius: 4px;
    padding: 1em;
    cursor: pointer;
    font-family: Helvetica;
    cursor: pointer;
    
  }

  .cta:hover {
    opacity: 0.8;
  }
  
  .results {
    margin-top: 50px;
  }
    strong {
        display: block;
    }
    span {
        margin-bottom: 20px;
        display: block;
    }
  
.glavni{
  text-align: center;
  min-height: calc(100vh - 160px);
}
#Error{
  margin-top: 10px;
  font-size: 20px;
  color: #7700FF;
}

a {
  font-family: Helvetica;
  font-size: 14pt;
  color: #8B0000;
  margin-top: 10px;
  padding-top: 20px;
}
 
    