<!--The content below is only a placeholder and can be replaced.-->
  <app-nav [data]="podatak" *ngIf="!isLogIn"></app-nav>
  <app-log-in-nav *ngIf="isLogIn" [data]="podatak"></app-log-in-nav>
  <div class="row">
      <div class="col-3 col-s-3 menu" >
        
      </div>
      <div class="col-6 col-s-9">
          
          <div style="text-align: center; color: red; font-size: 20px; margin-bottom: 30px; ">Izaberite rezevaciju</div>
<div id="about-card"> 
   
      
    <mat-card class="example-card" *ngFor="let centar of relaksacija" >
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{centar.ime}}</mat-card-title>
          <mat-card-subtitle>{{centar.lokacija}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{centar.slika}} alt={{centar.lokacija}}>
        <mat-card-content>
          <p>
           Cena: {{centar.cena}}
          </p>
          <p>
              {{centar.popust}}%OFF
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button color="basic" (click)='reserve(centar.lokacija)'>REZERVIŠI</button>
            
          </mat-card-actions>
        
      </mat-card>




</div>
        </div>    
      
     
      <div class="col-3 col-s-12">
        <div class="aside">
          <h2>Kome je namenjena aplikacija?</h2>
          <p>SingidunumREST je namenjena studentima univerziteta Singidunum.</p>
          <h2>Opis</h2>
          <p>Aplikacija SingidunumREST pomaže našim studentima da uz svega nekoliko klika pronađu željene
            lokacije i ostvare popust na njima.
          </p>
          <h2>Naš cilj?</h2>
          <p>Naš cilj je vaše zadovoljstvo i minimalni napor.</p>
        </div>
        </div>
  </div>
  
      
    
  
    
  
  
  
  
  
  
  
  